#custom-fade-8 {
  background: linear-gradient(
    to bottom,
    rgba(22, 219, 147, 1) 0%,
    rgba(22, 219, 147, 0) 100%
  );
}

#custom-fade-8-bottom {
  background: linear-gradient(
    to top,
    rgba(22, 219, 147, 1) 0%,
    rgba(22, 219, 147, 0) 100%
  );
}

.github-icon {
  min-width: 150px;
  width: 50%;
  max-width: 400px;
}

#github-thumbnail-a {
  justify-content: center;
  align-self: center;
  margin-top: 26px;
  cursor: pointer;
  max-width: 200px;
  display: flex;
  /* border: 8px rgb(150, 150, 150) solid; */
  border-radius: 4px;
}
