#custom-fade-10 {
    background: linear-gradient(
    to bottom,
    rgba(251, 177, 60, 1) 0%,
    rgba(251, 177, 60, 0) 100%
  );
}

#custom-fade-10-bottom {
    background: linear-gradient(
    to top,
    rgba(251, 177, 60, 1) 0%,
    rgba(251, 177, 60, 0) 100%
  );
}

.in-progress-section {
    color: white;
}