#custom-fade-5 {
  background: linear-gradient(
    to bottom,
    rgba(53, 167, 255, 1) 0%,
    rgba(53, 167, 255, 0) 100%
  );
}

#custom-fade-5-bottom {
  background: linear-gradient(
    to top,
    rgba(53, 167, 255, 1) 0%,
    rgba(53, 167, 255, 0) 100%
  );
}

.linked-in-section {
  color: white;
}

.linkedin-thumbnail {
  width: 100%;
  border: 4px rgb(175, 175, 175) solid;
  border-radius: 4px;
}

.linkedin-thumbnail:hover {
  border: 4px rgb(150, 150, 150) solid;
}

.linkedin-thumbnail-a {
  align-self: center;
  margin-top: 26px;
  cursor: pointer;
  min-width: 200px;
  width: 80%;
}
