#custom-fade-6 {
  background: linear-gradient(
    to bottom,
    rgba(4, 139, 168, 1) 0%,
    rgba(4, 139, 168, 0) 100%
  );
}

#custom-fade-6-bottom {
  background: linear-gradient(
    to top,
    rgba(4, 139, 168, 1) 0%,
    rgba(4, 139, 168, 0) 100%
  );
}

.nalarama-section {
  color: white;
}