.bottom-nav-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 23%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.bottom-tab-name {
  font-size: 13px;
  font-weight: 900;
  writing-mode: vertical-lr;
  /* font-family: 'Jaldi', sans-serif; */
  font-weight: 900;
  /* font-family: "Abril Fatface", Georgia, "Times New Roman", Times, serif; */
  font-family: 'Quicksand', sans-serif;
  transform: rotate(180deg);
  padding-bottom: 7px;
  margin-right: 2px;
  padding-left: 1px;
  letter-spacing: 0.3px;
}

.bottom-rectangle-tab {
  background-color: black;
  width: 20px;
  margin: 0px 3px;
  border-radius: 10px 10px 0px 0px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  border: 3pt white solid;
  border-bottom: none;
  border-radius: 30px 30px 0px 0px;
  /* Prevents text from being highlighted in tab */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bottom-rectangle-tab:hover {
  cursor: pointer;
}

#tab-6 {
  height: 50%;
  animation: colorChangeBack6 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-6:hover {
  color: white;
  animation: hoverColorChange6 300ms 1 forwards, expand 300ms 1 forwards;
}

#nalarama-span {
  font-size: clamp(8px, 8px, 13px);
}

#tab-7 {
  height: 70%;
  animation: colorChangeBack7 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-7:hover {
  color: white;
  animation: hoverColorChange7 300ms 1 forwards, expand 300ms 1 forwards;
}

#funky-cafe-span {
  font-size: clamp(10px, 10px, 13px)
}

#tab-8 {
  height: 60%;
  animation: colorChangeBack8 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-8:hover {
  color: black;
  animation: hoverColorChange8 300ms 1 forwards, expand 300ms 1 forwards;
}

#tab-9 {
  height: 100%;
  animation: colorChangeBack9 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-9:hover {
  color: white;
  animation: hoverColorChange9 300ms 1 forwards, expand 300ms 1 forwards;
}

#trkk {
  font-size: clamp(6px, 8px, 13px)
}

#tab-10 {
  height: 80%;
  animation: colorChangeBack10 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-10:hover {
  color: white;
  animation: hoverColorChange10 300ms 1 forwards, expand 300ms 1 forwards;
}

.active-tab-bottom {
  color: white;
}

@keyframes hoverColorChange6 {
  from {
    background-color: black;
  }
  to {
    background-color: #048ba8;
  }
}
@keyframes colorChangeBack6 {
  from {
    background-color: #048ba8;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange7 {
  from {
    background-color: black;
  }
  to {
    background-color: #a4036f;
  }
}
@keyframes colorChangeBack7 {
  from {
    background-color: #a4036f;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange8 {
  from {
    background-color: black;
  }
  to {
    background-color: #16db93;
  }
}
@keyframes colorChangeBack8 {
  from {
    background-color: #16db93;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange9 {
  from {
    background-color: black;
  }
  to {
    background-color: #fe5f55;
  }
}
@keyframes colorChangeBack9 {
  from {
    background-color: #fe5f55;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange10 {
  from {
    background-color: black;
  }
  to {
    background-color: #fbb13c;
  }
}
@keyframes colorChangeBack10 {
  from {
    background-color: #fbb13c;
  }
  to {
    background-color: black;
  }
}
