.center-content-div {
  height: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23%;
  left: 0px;
  right: 0px;
  overflow-y: visible;
  overscroll-behavior-y: auto;
}

h1 {
  margin: 0px;
  font-size: 15vh;
  font-family: "Abril Fatface", Georgia, 'Times New Roman', Times, serif;
  writing-mode: vertical-lr;
  line-height: 0.82;
  animation: shrink 300ms 1 forwards;
}

h1:hover {
    cursor: default;
    animation: enlarge 300ms 1 forwards;
}

.first-name {
  transform: rotate(180deg) translateY(-23.03%);
}

.last-name {
  transform: translateY(-23.05%);
}

.backsplash-shape {
  width: 90%;
  height: 140%;
  /* background-color: red; */
  position: absolute;
  left: 0;
  border-radius: 0px 220px 220px 0px;
  z-index: -1000;
}

.about-me {
  background-color: #995d81;
}

.resume {
  background-color: #f6f740;
}

.medium {
  background-color: #1b998b;
}

.linked-in {
  background-color: #35a7ff;
}

.nalarama {
  background-color: #048ba8;
}

.funky-cafe {
  background-color: #a4036f;
}

.github {
  background-color: #16db93;
}

.the-real-kates-kitchen {
  background-color: #fe5f55;
}

.in-progress {
  background-color: #fbb13c;
}

@keyframes enlarge {
    0%{
        font-size: 16vh;
    }
    100%{
        font-size: 17.5vh;
    }
}

@keyframes shrink {
    0%{
        font-size: 17.5vh;
    }
    100%{
        font-size: 16vh;
    }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%)
  }
}
