.top-nav-div {
  display: flex;
  justify-content: center;
  height: 23%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.top-tab-name {
  font-size: 12px;
  writing-mode: vertical-lr;
  /* font-family: 'Jaldi', sans-serif; */
  font-weight: 500;
  font-family: "Abril Fatface", Georgia, "Times New Roman", Times, serif;
  /* line-height: 50%; */
  margin-bottom: 7px;
  margin-left: 3px;
  /* padding-left: 1px; */
  letter-spacing: 0.3px;
}

.rectangle-tab {
  background-color: black;
  width: 20px;
  margin: 0px 5px;
  border-radius: 0px 0px 10px 10px;
  box-sizing: content-box;
  /* border-top: black 50px solid; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0);
}

.rectangle-tab:hover {
  cursor: pointer;
}

#tab-1 {
  height: 100%;
  animation: colorChangeBack1 300ms 1 forwards, contract 300ms 1 forwards;
}

/* #tab-1:hover > span {
  background-color: #663f56;
  border-radius: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
} */

#tab-1:hover {
  animation: hoverColorChange1 300ms 1 forwards, expand 300ms 1 forwards;
  color: white;
}

#tab-2 {
  height: 50%;
  animation: colorChangeBack2 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-2:hover {
  animation: hoverColorChange2 300ms 1 forwards, expand 300ms 1 forwards;
  color: white;
}

#tab-3 {
  height: 75%;
  animation: colorChangeBack3 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-3:hover {
  animation: hoverColorChange3 300ms 1 forwards, expand 300ms 1 forwards;
  color: black;
}

#tab-4 {
  height: 60%;
  animation: colorChangeBack4 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-4:hover {
  animation: hoverColorChange4 300ms 1 forwards, expand 300ms 1 forwards;
  color: white;
}

#tab-5 {
  height: 68%;
  animation: colorChangeBack5 300ms 1 forwards, contract 300ms 1 forwards;
}

#tab-5:hover {
  animation: hoverColorChange5 300ms 1 forwards, expand 300ms 1 forwards;
  color: white;
}

.active-tab-top {
  color: white;
  border: 3pt white solid;
  border-top: none;
  border-radius: 0px 0px 30px 30px;
}

@keyframes hoverColorChange1 {
  from {
    background-color: black;
  }
  to {
    background-color: #995d81;
  }
}
@keyframes colorChangeBack1 {
  from {
    background-color: #995d81;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange2 {
  from {
    background-color: black;
  }
  to {
    background-color: #eb8258;
  }
}
@keyframes colorChangeBack2 {
  from {
    background-color: #eb8258;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange3 {
  from {
    background-color: black;
  }
  to {
    background-color: #f6f740;
  }
}
@keyframes colorChangeBack3 {
  from {
    background-color: #f6f740;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange4 {
  from {
    background-color: black;
  }
  to {
    background-color: #1b998b;
  }
}
@keyframes colorChangeBack4 {
  from {
    background-color: #1b998b;
  }
  to {
    background-color: black;
  }
}

@keyframes hoverColorChange5 {
  from {
    background-color: black;
  }
  to {
    background-color: #35a7ff;
  }
}
@keyframes colorChangeBack5 {
  from {
    background-color: #35a7ff;
  }
  to {
    background-color: black;
  }
}
