.top-nav-div {
    display: flex;
    justify-content: center;
    height: 25%;
}

.rectangle-tab {    
    background-color: black;
    width: 20px;
    margin: 0px 5px;
    border-radius: 0px 0px 10px 10px;
}

#tab-1 {
    height: 70%;
}

#tab-2 {
    height: 60%;
}

#tab-3 {
    height: 80%;
}

#tab-4 {
    height: 50%;
}

#tab-5 {
    height: 90%;
}