@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');

html {
  overflow: hidden;
  overscroll-behavior: none;
  background-image: url('./images/subtle-grey-tile-2x.png');
}

.App {
  height: 100vh;
  width: 100vw;
  /* overflow: visible; */
}

.center-section {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-title {
  align-self: flex-start;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 0;
  z-index: 1001;
}

.center-body {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  /* border-radius: 8px; */
  padding-right: 12px;
  cursor: default;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* width: 96%; */
}

.center-p {
  margin-bottom: 25px;
}

.faded-scroll {
  height: 40px;
  width: 50%;
  position: fixed;
  /* border-radius: 8px 8px 0px 0px; */
  pointer-events: none;
  z-index: 1000;
}

.faded-scroll-bottom {
  height: 40px;
  width: 50%;
  position: absolute;
  bottom: 12%;
  left: 25%;
  right: 25%;
  /* border-radius: 0px 0px 8px 8px; */
  pointer-events: none;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes contract {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
