@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');

html {
  overflow: hidden;
  overscroll-behavior: none;
  background-image: url('./images/subtle-grey-tile-2x.png');
}

.App {
  height: 100vh;
  width: 100vw;
  /* overflow: visible; */
}

.center-section {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.center-title {
  position: fixed;
  margin-bottom: 0px;
  margin-top: -16px;
  /* line-height: 0; */
  z-index: 1001;
  font-family: 'Quicksand', sans-serif;
}

.center-body {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  /* border-radius: 8px; */
  /* padding-right: 12px; */
  cursor: default;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 96%;
  border-radius: 0px 100px 100px 0px;
}

.center-p {
  margin-bottom: 25px;
  width: clamp(200px, 80%, 500px);
  align-self: center;
  padding-left: clamp(2px, 12px, 18px);
}

.faded-scroll {
  height: 40px;
  width: clamp(255px, 50%, 50%);
  position: fixed;
  border-radius: 0px 80px 0px 0px;
  pointer-events: none;
  z-index: 1000;
  align-self: center;
  transform: translateY(-2px);
}

.faded-scroll-bottom {
  height: 40px;
  width: clamp(255px, 55%, 55%);
  position: absolute;
  bottom: 12%;
  /* left: 25%; */
  /* right: 25%; */
  border-radius: 0px 0px 80px 0px;
  pointer-events: none;
  /* align-self: center; */
}

.faded-anchor-bottom {
  height: 50px;
  width: 100%;
  min-width: 200px;
  background: linear-gradient(
    to top,
    rgb(150, 150, 150) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  bottom: 4px;
  pointer-events: none;
}

.thumbnail {
  width: 100%;
  border-radius: 4px;
  border: 8px rgb(150, 150, 150) solid;
  transform: translateX(-8px);
}

.thumbnail:hover {
  border: 8px rgb(175, 175, 175) solid;
}

.thumbnail-a {
  align-self: center;
  margin-top: 26px;
  cursor: pointer;
  width: clamp(150px, 80%, 400px);
  height: fit-content;
  display: flex;
  position: relative;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes contract {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* @media only screen and (min-width: 300px) {
  .App {
    min-width: 300px;
  }
} */
